.main {
    height: 20em;
}

.comments {
    height: 18em;
    background-color: lightskyblue;
    width: 30%;
    margin-left: 2%;
    margin-top: 1em;
    float: left;
    margin-bottom: 0em;
}

.head {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.buttons {
    text-align: center;
}

button {
    margin: 5%;
}

.checks {
    background-color: lightskyblue;
    width: 20%;
    margin-left: 2%;
    float: left;
}

.checkboxes {
    margin-right: 1em;
}

textarea {
    height:50%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
